.container {
  padding: 30px;
}

.heading {
  text-align: center;
  padding: 20px 10px;
}

.title {
  text-align: center;
}

.list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.item {
  padding: 10px;
  margin: 10px;

  text-align: center;
  flex-grow: 1;
}

.box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px;
  padding: 20px;
}
