.about-section {
  padding-top: 10rem;
  background: linear-gradient(
    linear,
    left top,
    left bottom,
    from(#161616),
    color-stop(75%, rgba(22, 22, 22, 0.9)),
    to(rgba(22, 22, 22, 0.8))
  );
  background: linear-gradient(
    to bottom,
    #161616 0,
    rgba(22, 22, 22, 0.9) 75%,
    rgba(22, 22, 22, 0.8) 100%
  );
}
.about-section p {
  margin-bottom: 5rem;
}

.my-picture {
  max-height: 200px;
  border-radius: 10%;
  box-shadow: 10px 10px 70px 5px #888888;
}
