.container {
  width: 80%;
  margin: 20px auto;
  padding: 70px 20px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
}

.button {
  background-color: #2da779;
  border-color: #2da779;
}

.button:hover {
  background-color: #66717b;
  border-color: #66717b;
}
