.siteHeader {
  // background-color: #293036;
  // color: #fafafa;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0 auto;
  padding: 100px 0 150px 0;
}

.headerInfo {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

.name {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  font-size: 4.2rem;
  letter-spacing: 0.6rem;
}

.job {
  text-align: center;
  font-size: 1.4rem;
  color: #2da779;
  font-weight: 600;
}

.imageContainer {
  width: 50%;
  margin: 0 auto;
}

.image {
  width: 100%;
}
