.siteHeader {
  // background-color: #293036;
  // color: #fafafa;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
}

.container {
  margin: 0;
  padding: 100px 0 150px 0;
}

.headerInfo {
  width: 90%;
  margin: 0 auto;
  padding: 150px 0 10px 0;
}

.name {
  text-align: center;
  font-size: 3.5rem;
}

.job {
  text-align: center;
}

.imageContainer {
  width: 50%;
  margin: 0 auto;
}

.image {
  width: 100%;
}
