.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(22, 22, 22, 0.1)),
    color-stop(75%, rgba(22, 22, 22, 0.5)),
    to(#161616)
  );
  background-image: url(./boat-clouds.jpg);
  background: linear-gradient(
      to bottom,
      rgba(22, 22, 22, 0.1) 0,
      rgba(22, 22, 22, 0.5) 75%,
      #161616 100%
    ),
    url(./boat-clouds.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.masthead h1 {
  font-family: "Varela Round";
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: -webkit-linear-gradient(
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.masthead h2 {
  max-width: 20rem;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .masthead h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}
@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}

/* Button */
.masthead .btn {
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: "Varela Round";
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}
.masthead .btn-primary {
  background-color: #838585;
}
.masthead .btn-primary:hover {
  background-color: #2f3030;
}
/* .btn-primary:focus {
  background-color: #4f837f;
  color: #fff;
}
.btn-primary:active {
  background-color: #467370 !important;
} */

/* Social Icons */
.social {
  margin-top: 5rem;
}
.social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}
.social a:hover {
  color: rgba(255, 255, 255, 0.5);
}
.social a:active {
  color: #fff;
}
