.container {
  width: 400px;
  margin: 5px;
  padding: 20px 10px;
  flex: 1 1 400px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.link {
  color: #999999;
}

.link:hover {
  color: #2da779;
}

// Old styles before I used the card from react-bootstrap
// .info {
//   width: 80%;
//   margin: 0 auto;
//   text-align: center;
// }

// .heading {
//   text-align: center;
//   font-size: 3rem;
//   margin-bottom: 10px;
// }

// .type {
//   text-align: center;
//   font-size: 1rem;
//   padding-top: 0;
// }

// .description {
//   text-align: center;
//   padding: 30px 0;
// }

// .buttonList {
//   list-style-type: none;
//   display: flex;
//   justify-content: space-around;
//   width: 30%;
//   margin: 0 auto;
// }

// .buttonItem {
//   text-decoration: none;

//   padding: 10px;
// }

// .button {
//   text-align: center;
//   border: 0;
//   margin: 0 auto;
// }

// .button:hover {
//   box-shadow: 1 1 10;
// }
