.container {
  padding: 30px;
}

.imageContainer {
  padding: 20px;
  width: 60%;
  margin: 0 auto;
}

.image {
  display: block;
  max-width: 300px;
  margin: 0 auto;
}

.heading {
  text-align: center;
  padding: 20px 10px;
}

.info {
  text-align: center;
}
