.container {
  padding: 30px;
}

.imageContainer {
  padding: 20px;
}

.image {
  display: block;
  margin: 0 auto;
  max-width: 400px;
  width: 80%;
}

.heading {
  text-align: center;
  padding: 20px 10px;
}

.infoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info {
  text-align: left;
}
